# Peer-graded Assignment: PART 2 - Segmenting and Clustering Neighborhoods in Toronto

---

> ------------------------------------------------------------------------------------------ 
> ### - Importing my saved data from Part 1 to use in Part 2.<br><br>
> ------------------------------------------------------------------------------------------

In [1]:
# The code was removed by Watson Studio for sharing.

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [2]:
# The code was removed by Watson Studio for sharing.

  Postal Code           Borough                                 Neighborhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [4]:
# The code was removed by Watson Studio for sharing.

 (103, 3) = (Rows, Columns)

> ------------------------------------------------------------------------------------------ 
> ### - Start of Part 2 - Get the geographical coordinates of a given postal code.<br><br>
> ------------------------------------------------------------------------------------------

In [5]:
# The code was removed by Watson Studio for sharing.

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [6]:
# The code was removed by Watson Studio for sharing.

COMPLETED!!

In [7]:
# The code was removed by Watson Studio for sharing.

AFTER column name change:

  PostalCode           Borough                                 Neighborhood
0        M3A        North York                                    Parkwoods
1        M4A        North York                             Victoria Village
2        M5A  Downtown Toronto                    Regent Park, Harbourfront
3        M6A        North York             Lawrence Manor, Lawrence Heights
4        M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [8]:
# The code was removed by Watson Studio for sharing.

AFTER column name change:

  PostalCode   Latitude  Longitude
0        M1B  43.806686 -79.194353
1        M1C  43.784535 -79.160497
2        M1E  43.763573 -79.188711
3        M1G  43.770992 -79.216917
4        M1H  43.773136 -79.239476

> Now the two columns in the two dataframes have a matching name <code>'PostalCode'</code>

In [9]:
# The code was removed by Watson Studio for sharing.

,PostalCode,Latitude,Longitude,Borough,Neighborhood
0,M1B,43.806686,-79.194353,Scarborough,"Malvern, Rouge"
1,M1C,43.784535,-79.160497,Scarborough,"Rouge Hill, Port Union, Highland Creek"
2,M1E,43.763573,-79.188711,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,43.770992,-79.216917,Scarborough,Woburn
4,M1H,43.773136,-79.239476,Scarborough,Cedarbrae

In [10]:
# The code was removed by Watson Studio for sharing.

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476

In [11]:
# The code was removed by Watson Studio for sharing.

 (103, 5) = (Rows, Columns)

> Save to <code>.CSV</code> as a backup

In [12]:
# The code was removed by Watson Studio for sharing.

In [13]:
# The code was removed by Watson Studio for sharing.

./Toronto_Neighborhoods_v2.csv
./Toronto_Neighborhoods_v3.csv
./Toronto_Neighborhoods_v1.csv

In [14]:
# The code was removed by Watson Studio for sharing.

DONE!!

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Malvern, Rouge",43.806686,-79.194353
1,M1C,Scarborough,"Rouge Hill, Port Union, Highland Creek",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476